@import '~/node_modules/leaflet/dist/leaflet.css';
@import '~/node_modules/bootstrap/dist/css/bootstrap.min.css';
@import '~/node_modules/leaflet-mouse-position/src/L.Control.MousePosition.css';
@import "~/node_modules/leaflet-draw/dist/leaflet.draw.css";
* {
    box-sizing: border-box;
    font-family: -apple-system, system, sans-serif;
}

#content {
    /* width: 480px; */
    margin: 0 auto;
}

h1 {
    margin-bottom: 0.5em;
    font-size: 5em;
}

a {
    color: #006a86;
    text-decoration: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0);
}

a:hover {
    color: #006a86;
    border-bottom: 1px solid #006a86;
}

body,
html {
    height: 100%;
    margin: 0 auto;
    padding: 0 auto;
}

#mymap {
    height: auto;
    min-height: 100%;
    margin: 0 auto;
    padding: 0 auto;
}

#app {
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 1000;
    margin-right: 1em;
}

.modal-header {
    background-color: #f5f5f5;
    padding: 0.5rem;
}

.modal-body p {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 15px;
}

.modal-content {
    margin: 1em 0;
    cursor: pointer;
}

.active {
    font-weight: bold;
}

.leaflet-control-draw-measure {
    background-image: url(~/images/measure-control.png);
}