<%if (active){ %>
<div class="modal-header active">
<% } else { %>
<div class="modal-header">
<% } %>

  <h7 class="modal-title"><%= title %></h7>        
</div>
<div class="modal-body">
  <p><%= discription %></p>
</div>      
    

